div {
  width: 100%;
  height: calc(100vh - 100px);
  display: grid;
  place-items: center;
}

img {
  height: 300px;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
