<main>
  <section>
    <h2>Subastas en directo</h2>
    <div>
      @for (auction of auctions; track auction.auctionId) { @if
      (auction.startsAt < now && auction.endsAt > now) {
      <app-auction [auction]="auction"></app-auction>
      } }@empty {
      <p>Sin subastas</p>
      }
    </div>
  </section>
  <section>
    <h2>{{ categories[0].name }}</h2>
    <div>
      @for (auction of auctions; track auction.auctionId) { @if
      (auction.categoryId == categories[0].categoryId) {
      <app-auction [auction]="auction"></app-auction>
      } }@empty {
      <p>Sin subastas</p>
      }
    </div>
  </section>
  <section>
    <h2>{{ categories[1].name }}</h2>
    <div>
      @for (auction of auctions; track auction.auctionId) { @if
      (auction.categoryId == categories[1].categoryId) {
      <app-auction [auction]="auction"></app-auction>
      } }@empty {
      <p>Sin subastas</p>
      }
    </div>
  </section>
  <section>
    <h2>{{ categories[2].name }}</h2>
    <div>
      @for (auction of auctions; track auction.auctionId) { @if
      (auction.categoryId == categories[2].categoryId) {
      <app-auction [auction]="auction"></app-auction>
      } }@empty {
      <p>Sin subastas</p>
      }
    </div>
  </section>
</main>
